

        body {
            background-color: lightblue;
            
        }

        img:hover{
            background-color: gold;

        }

        .profile{
            background-color: lightblue;
            border-radius: 100%;
            height: 200px;
            width: 200px;
            
        }
        #logo{
            background-color: lightblue;
        }
         
        hr{
            
            border-style: none;
            border-top-style: dotted;
            border-width: 6px;
            border-color: gray;
            width:  2.8%;
            
        }
        
    
